/* Post Detail - Header */

#post-detail-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.post-header-info {
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, rgba(31, 14, 56, 0.7) 20%, rgba(31, 14, 56, 0.6) 60%, transparent);

    text-align: center;
    color: whitesmoke;
}

.post-header-info h1 {
    font-family: 'Nunito';
    margin-bottom: 0px
}

.post-header-info p {
    margin-bottom: 5px;
    font: 20px 'Raleway';
}

.post-header-info button {
    margin-top: 10px;
    border-radius: 3px;
    border: 0;
    padding: 5px 10px;
    color: rgb(107, 43, 226);
    font-family: 'Nunito';
} 

/* Post Detail - Main */

#post-detail-main {
    width: 70%;
    margin: 50px auto;
}

.post-detail-comments {
    margin-top: 80px;
}

.post-detail-comments h1 {
    font: 2em 'Nunito';
    color: rgba(0, 0, 0, 0.75);
}

.post-comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 40px;
    width: 90%;
}

.comment h2 {
    font: 20px 'PoppinsMedium';
    margin-bottom: 0px;
}

.comment p {
    font-family: 'PoppinsRegular';
    margin-bottom: 10px;
}

.comment small {
    font-family: 'PoppinsRegular';
}
