/* Post Detail - Header */

#post-detail-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.post-header-info {
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, rgba(31, 14, 56, 0.7) 20%, rgba(31, 14, 56, 0.6) 60%, transparent);

    text-align: center;
    color: whitesmoke;
}

.post-header-info h1 {
    font-family: 'Nunito';
    margin-bottom: 0px
}

.post-header-info p {
    margin-bottom: 5px;
    font: 20px 'Raleway';
}

.post-header-info button {
    margin-top: 10px;
    border-radius: 3px;
    border: 0;
    padding: 5px 10px;
    color: rgb(107, 43, 226);
    font-family: 'Nunito';
} 

/* Post Detail - Main */

#post-detail-main {
    width: 70%;
    margin: 50px auto;
}

.post-detail-comments {
    margin-top: 80px;
}

.post-detail-comments h1 {
    font: 1.7em 'Nunito';
    color: rgba(0, 0, 0, 0.75);
}

.post-comments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 30px;
    width: 90%;
}

.comments {
    padding: 10px 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.comments:hover {
    background-color: rgba(110, 25, 221, 0.04);
}

.comments h2 {
    font: 20px 'PoppinsMedium';
    margin-bottom: 0px;
}

.comments p {
    font-family: 'PoppinsRegular';
    margin-bottom: 10px;
}

.comments small {
    font: 15px 'Nunito';
}

/* post-add-comment */

#post-add-comment {
    margin-top: 50px;
}

#post-add-comment label {
    display: block;
    font-family: 'Nunito';
}

#post-add-comment input {
    border: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    font-family: 'Nunito';
}

#post-add-comment input {
    width: 400px;
}

#post-add-comment input, .comment_textarea {
    border: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Nunito';
}
