{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'title' %} {{ post.titulo }} {% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">
{% endblock %}

{% block 'content' %} 
    <div id="post-detail-header" style="background-image: url('{{ post.imagem.url }}')">
        <div class="post-header-info">
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.data_criacao }}</p>
            <button>{{ post.categoria }}</button>
        </div>
    </div>

    <main id="post-detail-main">
        {{ post.conteudo|safe }}

        <div class="post-detail-comments">
            <h1>{{ comments.count }} comentario(s)</h1>

            {% if comments %}
                <div class="post-comments">
                    {% for comment in comments %}
                        <div class="comments">
                            <h2>{{ comment.titulo }}</h2>
                            <p>{{ comment.comentario }}</p>
                            
                            <small>
                                {{ comment.nome }} - {{ comment.data_comentario|naturalday|title }}
                            </small>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
